@charset "utf-8";

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'),
	url('./font/Pretendard-ExtraBold.woff2') format('woff2'),
	url('./font/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'),
	url('./font/Pretendard-Bold.woff2') format('woff2'),
	url('./font/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'),
	url('./font/Pretendard-SemiBold.woff2') format('woff2'),
	url('./font/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'),
	url('./font/Pretendard-Medium.woff2') format('woff2'),
	url('./font/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'),
	url('./font/Pretendard-Regular.woff2') format('woff2'),
	url('./font/Pretendard-Regular.woff') format('woff');
}

/* color */
:root {
	--color-gray1: #212126;
	--color-gray2: #36363D;
	--color-gray3: #57575B;
	--color-gray4: #62626A;
	--color-gray5: #797981;
	--color-gray6: #919197;
	--color-gray7: #AAAAAE;
	--color-gray8: #DBDBDB;
	--color-gray9: #E9E9E9;
	--color-gray10: #FFFFFF;
	--color-blue1: #125DE6;
	--color-blue2: #A9C7FF;
	--color-blue3: #E9F1FF;
	--color-blue4: #F6F8FC;
	--color-green: #0FD2D0;
	--color-red: #FA2828;
	--width-max: 1200px;
}

html, body{margin:0; padding:0; scroll-behavior: smooth; overscroll-behavior: contain;}
html{-webkit-text-size-adjust:none; -webkit-font-smoothing:antialiased; }
body{word-wrap:normal; word-break:keep-all; overflow-wrap:break-word; line-height:1.5;}
body, input, textarea, select, table, button{font-size:16px; font-family:'Pretendard', 'malgun gothic', dotum, sans-serif; color:#212126;}

img{margin:0; padding:0; border:none; vertical-align:top;}

a{text-decoration: none; color:#212126; cursor:pointer;}
a:hover{text-decoration:none;}
*:focus-visible{outline:2px dotted #000;}

ul{list-style:none; margin:0; padding:0;}
ol{list-style:none; margin:0; padding:0;}
dl,dt,dd{margin:0; padding:0;}

h1,h2,h3,h4,h5,h6{clear:both; margin:0; padding:0; font-weight:600; line-height:1.5em;}

em{font-style:normal; font-weight:normal;}
small{font-style:normal;}
p{margin:0; padding:0;}
strong, b{font-weight:700;}

iframe{margin:0; padding:0; border:none;}

hr{display:none;}

table{border-spacing:0; border-collapse:collapse;}
table caption{width:0; height:0; overflow:hidden; font-size:0;}
table,th,td{margin:0; padding:0; border:none; box-sizing:border-box;}

/* form */
form, fieldset, legend{margin:0; padding:0; border:0;}
fieldset legend{width:0; height:0; overflow:hidden;}

input{vertical-align:middle; box-sizing:border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; outline: none;}
input[type="text"]{height:40px; line-height:38px; text-indent:14px; background-color:#fff; border:1px solid #ddd; }
input[type="password"]{height:40px; line-height:38px; text-indent:14px; letter-spacing:10px; background-color:#fff; border:1px solid #ddd; }
input[type="file"]{height:40px; line-height:38px; text-indent:14px; background-color:#fff;}
input[type="submit"],
input[type="image"],
input[type="button"]{cursor:pointer; border:none; border-radius:0; appearance: none; -webkit-appearance:none;}

input[type="radio"],
input[type="checkbox"]{width:18px; height:18px; padding:0; margin:0;}
.checkbox { appearance:initial; border:1px solid #979797; background-color:#fff;}
.checkbox:checked {border-color:var(--color-blue1);background: var(--color-blue1) url(../images/contents/i_checkbox_on.png) no-repeat center center;background-size:18px 18px;}
.checkbox + label {cursor: pointer;padding-left:8px;vertical-align: -1px;}

select{height:48px ; box-sizing:border-box; vertical-align:middle; border:none; cursor:pointer;}

.select {display:inline-block; height: 48px; cursor: pointer; position:relative; font-size:14px;}
.select .selected-label {display: flex; align-items:center; justify-content: space-between; line-height: 48px; padding:0;	position: relative;	text-align: left; width: 100%; z-index: 1;	overflow: hidden; box-sizing: border-box;}
.select .selected-label:after {display: block; content:''; width:16px;height:16px; margin-left:8px; background:url(../images/contents/i_select.svg) 0 0 no-repeat;}
.select .select-options{background-color: #fff; cursor: default; overflow: hidden; margin: 0; position: absolute;	left:-16px; min-width:calc(100% + 32px); top:100%; padding: 6px 0; border-radius:8px; box-shadow:0 2px 8px rgba(0,0,0,0.1); text-align:left; display:none;}
.select .select-options li{position:relative;}
.select .select-options input{position:absolute;left:0;top:0; width:1px;height:1px; opacity:0;}
.select .select-options label{display:block; height: 40px; line-height:40px; box-sizing: border-box; padding:0 16px; cursor:pointer; font-weight:500; white-space:nowrap;}
.select .select-options li:hover{background-color:var(--color-blue3);}
.select .select-options input:checked + label{color:var(--color-blue1); font-weight:700;}
.select.active .selected-label:after{background-position:-26px -52px;}
.select.active .select-options{display:block;}

textarea{border:1px solid #dedede; padding:10px 15px; vertical-align:middle; box-sizing:border-box; resize: none;}

textarea::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder {color:#999 !important; letter-spacing:0; font-size:14px;}
textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder {color:#999 !important; letter-spacing:0; font-size:14px;}

input[type="text"]::-ms-clear{display: none;}
input[type="password"]::-ms-reveal{display: none;}

input[type="text"][readonly]{background-color:#f2f2f2;}

button{margin:0; padding:0; border:none; background:none; cursor:pointer; border-radius:0; appearance: none; -webkit-appearance:none;}

/* display */
.blind{position:absolute;left:-9999em;height:0;overflow:hidden;}
.hide{display:none;}

/* align */
.aleft{text-align:left !important;}
.acenter{text-align:center !important;}
.aright{text-align:right !important;}
.vtop{vertical-align:top !important}
.vmiddle{vertical-align:middle !important}

/* width */
.w1{width:1%} .w2{width:2%} .w3{width:3%} .w4{width:4%} .w5{width:5%} .w6{width:6%} .w7{width:7%} .w8{width:8%} .w9{width:9%} .w10{width:10%}
.w11{width:11%} .w12{width:12%} .w13{width:13%} .w14{width:14%} .w15{width:15%} .w16{width:16%} .w17{width:17%} .w18{width:18%} .w19{width:19%} .w20{width:20%}
.w21{width:21%} .w22{width:22%} .w23{width:23%} .w24{width:24%} .w25{width:25%} .w26{width:26%} .w27{width:27%} .w28{width:28%} .w29{width:29%} .w30{width:30%}
.w31{width:31%} .w32{width:32%} .w33{width:33%} .w34{width:34%} .w35{width:35%} .w36{width:36%} .w37{width:37%} .w38{width:38%} .w39{width:39%} .w40{width:40%}
.w41{width:41%} .w42{width:42%} .w43{width:43%} .w44{width:44%} .w45{width:45%} .w46{width:46%} .w47{width:47%} .w48{width:48%} .w49{width:49%} .w50{width:50%}
.w51{width:51%} .w52{width:52%} .w53{width:53%} .w54{width:54%} .w55{width:55%} .w56{width:56%} .w57{width:57%} .w58{width:58%} .w59{width:59%} .w60{width:60%}
.w61{width:61%} .w62{width:62%} .w63{width:63%} .w64{width:64%} .w65{width:65%} .w66{width:66%} .w67{width:67%} .w68{width:68%} .w69{width:69%} .w70{width:70%}
.w71{width:71%} .w72{width:72%} .w73{width:73%} .w74{width:74%} .w75{width:75%} .w76{width:76%} .w77{width:77%} .w78{width:78%} .w79{width:79%} .w80{width:80%}
.w81{width:81%} .w82{width:82%} .w83{width:83%} .w84{width:84%} .w85{width:85%} .w86{width:86%} .w87{width:87%} .w88{width:88%} .w89{width:89%} .w90{width:90%}
.w91{width:91%} .w92{width:92%} .w93{width:93%} .w94{width:94%} .w95{width:95%} .w96{width:96%} .w97{width:97%} .w98{width:98%} .w99{width:99%} .w100{width:100%}

/* swiper */
.swiper-android .swiper-slide, .swiper-wrapper { transform: translate3d(0px,0,0);}
.swiper-wrapper {position: relative; width: 100%; height: 100%; z-index: 1; display: flex; transition-property: transform; box-sizing: content-box; /*transition-timing-function: linear;*/}
.swiper-slide { flex-shrink: 0; /*width: 100%;*/ height: 100%; position: relative; transition-property: transform;}

.swiper-container-fade .swiper-slide{pointer-events:none;transition-property:opacity;}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}

/* mobile ****************************************************************************************************************************************** */

@media all and (max-width:1023px){
	.m-w5{width:5%;}
	.m-w10{width:10%;} .m-w15{width:15%;}
	.m-w20{width:20%;} .m-w25{width:25%;}
	.m-w30{width:30%;} .m-w35{width:35%;}
	.m-w40{width:40%;} .m-w45{width:45%;}
	.m-w50{width:50%;} .m-w55{width:55%;}
	.m-w60{width:60%;} .m-w65{width:65%;}
	.m-w70{width:70%;} .m-w75{width:75%;}
	.m-w80{width:80%;} .m-w85{width:85%;}
	.m-w90{width:90%;} .m-w95{width:95%;}
	.m-w100{width:100%;}

	.only-pc{display:none;}
}

@media all and (min-width:1024px){
	.only-mobile{display:none;}
}