@charset "utf-8";

/* skip nav */
.skip-nav { position:absolute; left:0; top:-50px; z-index:9999; }
.skip-nav li {width:200px;}
.skip-nav a { position:absolute; left:0; top:0; display:block; width:100%; height:50px; line-height:50px; color:#fff; background:#002960; text-align:center;}
.skip-nav a:focus { top:50px; }

#wrap{min-width:280px;}

/* header */
#header{height:80px; position:fixed; left:0; top:0; right:0; z-index:90; border-bottom:1px solid var(--color-gray9); transition:all 0.3s; box-sizing:border-box;}

.header-inner{margin:0 auto; display:flex; box-sizing:border-box;}
.header-inner h1{height:80px; position:absolute;left:60px;top:0;}
.header-inner h1 a{display:flex; width:168px; height:100%; background:url(../images/layout/logo.svg) center center / 100% auto no-repeat; text-align:left; text-indent:-9999px;}

#com-nav{height:80px; max-width:1200px; margin:0 auto;}
#com-nav .com-nav-list{display:flex; height:100%; width:1200px;}
#com-nav .com-nav-list > li:first-child{margin-left:-24px; }
#com-nav .com-nav-list a{height:100%; font-size:16px; font-weight:500; padding:0 24px; display:flex; align-items:center; position:relative; white-space:nowrap;}
#com-nav .com-nav-list a:hover,
#com-nav .com-nav-list .active a{font-weight:700; color:var(--color-blue1); }

#com-nav .outlink:after{display:block; content:''; width:7px; height:7px; position:absolute; right:8px; top:33px; opacity:0; visibility: hidden;}
#com-nav .outlink:hover:after{opacity:1; visibility:visible;}

/* 메뉴버튼 부분 */
.header-util{position:absolute; right:50px; top:20px; display:flex; align-items: center; box-sizing:border-box;}
.btn-menu{width:40px;height:40px; overflow:hidden; text-align:left; text-indent:-9999px; position:relative; display:none;}
.btn-menu:before{display:block; content:''; width:50px; height:50px; background:url(../images/menu.png) -40px 0 no-repeat; position:absolute; left:50%; top:50%; margin:-10px 0 0 -10px;}


#header.scrolled{background-color:#fff;}
.scrolled .lang-wrap .btn-lang:before{background-position:-40px 0;}

/* header 영역 */
#header.up{top:-80px; border-bottom:none !important;}

.main #header{border:none; background:none;}
.main h1 a{background-image:url(../images/logo.jpg);}
.main #com-nav .com-nav-list a{color:#fff;}
.main #com-nav .com-nav-list a:hover{color:#fff; font-weight:700;}
.main #com-nav .com-nav-list .outlink:hover:after{background-position:0 0;}
.main .lang-wrap .btn-lang:before{background-position:0 0;}
.main .btn-menu:before{background-position:0 0;}

.main #header.scrolled {background-color:#fff;}
.main .scrolled h1 a{background-image:url(../images/menu.png);}


/* mobile 버전 (화면크기 작을 때) 메뉴 버튼 누른 후의 영역 */
.mobile-nav{position:fixed; width:100vw; height:100vh; background-color:#fff; z-index:90; display:none;}
.mobile-nav h1{height:56px; width:126px; margin-left:20px;}
.mobile-nav h1 a{display:block; height:56px; width:126px; background:url(../images/menu.png) center center / 100% auto no-repeat; text-align:center; text-indent:-9999px; justify-content: center;}
.mobile-nav-list{padding-top:20px;}
.mobile-nav-list a{position: relative; justify-content: center; display:flex; align-items: center; height:64px; padding:0 20px; font-size:20px; font-weight:600;
	&::before {
		content: "";
		display: block;
		position: absolute;
		left: 30%;
		bottom: 0;
		width: 0;
		height: 3px;
		background-color:blue;                    
		transition: .25s;
	}
	
	&:hover {
		color: blue;
		font-weight: 600;
		&::before{
			width: 40%;
		}
	}}
	

.btn-menu-close{width:40px;height:40px; overflow:hidden; text-align:left; text-indent:-9999px; position:relative; background:url(../images/close.png) center center no-repeat; position:absolute; right:10px;top:8px;}

.mobile-nav.active{display:block;}




/* mobile ******************************************************************* */

@media all and (max-width:1799.99px){

	.header-inner{max-width:1200px; margin:0 auto; position:relative;}
	.header-inner h1{left:0;}
	#com-nav{margin-left:232px;}
	#comnav .comnav-list{width:auto;}
	.header-util{right:0;}
	.header-util{margin-right:-10px;}
}

@media all and (max-width:1360px){

	.header-inner{margin:0 80px;}
	.footer-inner{margin:0 80px;}
	.sub-section > .inner{margin:0 80px;}
	.sub-lnav .lnav-list{margin:0 80px;}

}

@media all and (max-width:1099.99px){
	.header-inner{margin:0 20px;}
	.footer-inner{margin:0 20px;}
	.sub-section > .inner{margin:0 20px;}

	.skip-nav { display:none; }

	#header{height:56px; border:none !important;}
	#header.up{top:-56px;}

	.header-inner{padding:0 20px;}
	.header-inner h1{height:56px;}
	.header-inner h1 a{width:126px;}

	#com-nav{display:none;}

	.header-util{top:8px;}
	.lang-wrap .lang-options{right:-30px; top:42px;}
	.lang-wrap .lang-options:before{display:block;content:'';height:2px; position:absolute;left:0;right:0;top:-2px;}
	.btn-menu{display:block;}
}